* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    background: rgb(76, 14, 100);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app .todo{
    display: flex;
    background:rgb(121, 27, 158);
    width: 800px;
   justify-content: space-between;
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
}
.todo__start .todo__id, .todo__title {
  display: inline;
  margin-right:5px;
}

.container .container__input {
    width: 800px;
    margin-left: 4px;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:rgb(202, 172, 214);
    color: white;
    margin-bottom: 10px;
}